<ul class="social-share">
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{blog-page-single}}"><i class="fab fa-facebook-f"></i></a></li>
    <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li class="linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
</ul>