<div class="post">
    <figure class="post-image">
        <img src="{{image}}" alt="Image">
    </figure>
    <div class="post-content">
        <small class="post-date">
            {{date}}
        </small>
        <h3 class="post-title"><a href="#">{{title}}</a></h3>

        <themifly-widget-blog-author-here>
        </themifly-widget-blog-author-here>
        <!-- end post-author -->

        <themifly-widget-blog-categories-here>
        </themifly-widget-blog-categories-here>
        <!-- end post categories -->

        <p>{{description}}...</p>
        <a href="{{blog-page-single}}" class="post-link">READ MORE</a>
    </div>
    <!-- end post-content -->
</div>