<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#75dab4"/>

    <title>{{site-title}}</title>
    <meta name="author" content="{{site-author}}">
    <meta name="description" content="{{site-description}}">
    <meta name="keywords" content="{{site-keywords}}">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="{{site-description}}">
    <meta property="og:image" content="{{og-image}}">
    <meta property="og:site_name" content="{{og-site_name}}">
    <meta property="og:title" content="{{site-title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{og-url}}">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="{{twitter-card}}">
    <meta name="twitter:site" content="{{twitter-site}}">
    <meta name="twitter:creator" content="{{twitter-creator}}">
    <meta name="twitter:title" content="{{twitter-title}}">
    <meta name="twitter:description" content="{{twitter-description}}">
    <meta name="twitter:image" content="{{twitter-image}}">

    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="stylesheet" href="css/hamburger.min.css">
    <link rel="stylesheet" href="css/odometer.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="preloader">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <figure><img src="images/preloader.gif" alt="Image"></figure>
        <span>Site Loading</span></div>
    <!-- end inner -->
</div>
<!-- end preloader -->
<div class="page-transition">
    <div class="layer"></div>
    <!-- end layer -->
</div>
<!-- end page-transition -->
<nav class="site-navigation">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <ul data-splitting>
            <li><a href="index.html">HOME</a><i class="fas fa-caret-down"></i> <small>First page</small>
                <ul>
                    <li><a href="index.html">HOME SLIDER</a></li>
                    <li><a href="index-video.html">HOME VIDEO</a></li>
                    <li><a href="index-carousel.html">HOME CAROUSEL</a></li>
                </ul>
            </li>
            <li><a href="studio.html">STUDIO</a> <small>All About Us</small></li>
            <li><a href="showcases.html">SHOWCASES</a> <small>Our all projects</small></li>
            <li><a href="blog.html">BLOG</a> <small>Recent posts</small></li>
            <li><a href="contact.html">CONTACT</a> <small>Say hello</small></li>
        </ul>
    </div>
    <!-- end inner -->
</nav>
<!-- end site-navigation -->
<div class="social-media">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <h5>Social Share </h5>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</div>
<!-- end social-media -->
<div class="all-cases">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <ul>
            <li><a href="#">Darkness</a></li>
            <li><a href="#">Goddes</a></li>
            <li><a href="#">Employee</a></li>
            <li><a href="#">Berry</a></li>
            <li><a href="#">Roosters</a></li>
            <li><a href="#">Primero</a></li>
        </ul>
    </div>
    <!-- end inner -->
</div>
<!-- end all-cases -->
<main>
    <aside class="left-side">
        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Image"></a></div>
        <!-- end logo -->
        <div class="hamburger" id="hamburger">
            <div class="hamburger__line hamburger__line--01">
                <div class="hamburger__line-in hamburger__line-in--01"></div>
            </div>
            <div class="hamburger__line hamburger__line--02">
                <div class="hamburger__line-in hamburger__line-in--02"></div>
            </div>
            <div class="hamburger__line hamburger__line--03">
                <div class="hamburger__line-in hamburger__line-in--03"></div>
            </div>
            <div class="hamburger__line hamburger__line--cross01">
                <div class="hamburger__line-in hamburger__line-in--cross01"></div>
            </div>
            <div class="hamburger__line hamburger__line--cross02">
                <div class="hamburger__line-in hamburger__line-in--cross02"></div>
            </div>
        </div>
        <!-- end hamburger -->
        <div class="follow-us"> FOLLOW US</div>
        <!-- end follow-us -->
        <div class="equalizer"><span></span> <span></span> <span></span> <span></span></div>
        <!-- end equalizer -->
    </aside>
    <!-- end left-side -->
    <div class="all-cases-link"><span>ALL CASES</span> <b>+</b></div>
    <!-- end all-cases-link -->
    <header class="page-header">
        <div class="video-bg">
            <video src="videos/video02.mp4" muted loop autoplay></video>
        </div>
        <!-- end video-bg -->
        <div class="inner">
            <div class="container">
                <h1>BLOG</h1>
                <p>We provide a free day to experience our benefits of digital world</p>
            </div>
            <!-- end container -->
        </div>
        <!-- end inner -->
    </header>
    <!-- end page-header -->

    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">

                    <themifly-widget-blog-posts-here>
                    </themifly-widget-blog-posts-here>
                    <!-- end posts -->

                    <themifly-widget-blog-prev-next-here>
                    </themifly-widget-blog-prev-next-here>
                    <!-- end prev-next-->

                </div>
                <!-- end col-8 -->
                <div class="col-lg-3">
                    <aside class="sidebar">

                        <themifly-widget-blog-categories-all-here>
                        </themifly-widget-blog-categories-all-here>
                        <!-- end widget -->

                        <div class="widget">
                            <h4 class="title">TOUROG</h4>
                            <p>Interactive digital experiences are continually becoming more <u>amazing</u> and more <u>complex</u>
                                to produce. Our team is specially designed to create successful digital products.</p>
                        </div>
                        <!-- end widget -->

                        <!--
                        <div class="widget">
                            <h4 class="title">SEARCH</h4>
                            <form>
                                <input type="text" placeholder="Search on blog">
                                <button type="submit">SEARCH</button>
                            </form>
                        </div>
                        -->
                        <!-- end widget -->

                        <themifly-widget-blog-tags-all-here>
                        </themifly-widget-blog-tags-all-here>
                        <!-- end widget -->

                        <div class="widget">
                            <h4 class="title">WORKS</h4>
                            <ul class="mini-works">
                                <li><a href="images/works01.jpg" data-fancybox><img src="images/works01.jpg"
                                                                                    alt="Image"></a></li>
                                <li><a href="images/works02.jpg" data-fancybox><img src="images/works02.jpg"
                                                                                    alt="Image"></a></li>
                                <li><a href="images/works03.jpg" data-fancybox><img src="images/works03.jpg"
                                                                                    alt="Image"></a></li>
                                <li><a href="images/works04.jpg" data-fancybox><img src="images/works04.jpg"
                                                                                    alt="Image"></a></li>
                                <li><a href="images/works05.jpg" data-fancybox><img src="images/works05.jpg"
                                                                                    alt="Image"></a></li>
                                <li><a href="images/works06.jpg" data-fancybox><img src="images/works06.jpg"
                                                                                    alt="Image"></a></li>
                            </ul>
                        </div>
                    </aside>
                    <!-- end sidebar -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end blog -->
</main>
<!-- end main -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <h6>LET’S HAVE A TALK ABOUT YOUR PROJECT.</h6>
                <h2>Need more information or want <br>
                    to get in touch?</h2>
                <a href="#" class="link">Get in touch</a></div>
            <!-- end col-12 -->
            <div class="col-12">
                <div class="footer-bar"><span class="copyright">© 2019 Tourog | All Rights Reserved</span> <span
                        class="creation">Site created by <a href="#">Themezinho</a></span></div>
                <!-- end footer-bar -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->

<!-- JS FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script src='js/splitting.min.js'></script>
<script src='js/odometer.min.js'></script>
<script src='js/fancybox.min.js'></script>
<script src="js/scripts.js"></script>
</body>
</html>